.container {
  display: flex;
  gap: 4px;
  padding: 6px 10px;
  width: 100%;

  border: 1px #ececec solid;
  border-radius: 20px;
}

.icon {
  color: #ececec;
  width: 24px;
  height: 24px;
}

.input {
  color: #ececec;
  font-size: 14px;

  border: none;
  background: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #A39BB4;
}