/* body {
  margin: 0px;
  background-color: #0b0121;
  margin: auto;
}
button:hover {
  cursor: pointer;
  opacity: 80%;
}
button {
  border: 2px solid white;
} */

#heroStack {
  display: flex;
  padding: 170px 20px 80px 20px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background-image: url(/pictures/gradient-image.jpg);
  background-size: 105.195% 101.71%;
  background-repeat: no-repeat;
  background-color: lightgray;
}
.smallContainer {
  display: flex;
  width: 960px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.pill {
  display: flex;
  padding: 9.905px 19.811px;
  align-items: flex-start;

  border-radius: 61.909px;
  border: 1.238px solid rgba(255, 255, 255, 0.3);
}
.pill p {
  color: #f2f4f8;
  text-align: center;
  font-size: 17.334px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.content h1 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  text-align: center;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2.4px;
  background-image: linear-gradient(to right, white, gray);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.paragraphWrapper {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: flex-start;
}
.paragraphWrapper p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;

  color: rgba(236, 236, 236, 0.65);
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.actions {
  display: flex;
  padding-top: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.download {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 60px;
  background: #ececec;
}
.openJobs {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 60px;
  background: none;
  color: #ececec;
}
#content {
  display: flex;
  height: 425px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.video {
  width: 1105px;
  height: 453px;
  flex-shrink: 0;
  border-radius: 69px;
}
#middleSection {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}
.middleSectionTitle {
  display: flex;
  width: 470px;
  padding: 24px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.middleTitleWrapper {
  display: flex;
  width: 500px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.middleTitleWrapper h2 {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;

  color: #ececec;
  text-align: center;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.32px;
}
.middleSectionTitle p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #ececec;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 0px;
}
.middleSectionColumns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#s4 {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.middleSectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 578px;
  height: 400px;
}
.middleSectionCardWrapper {
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  height: 372px;

  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow:
    0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset,
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.middleSectionIconWrapper {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.middleSectionCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.middleSectionCardContent h2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  color: #ececec;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.16px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.middleSectionCardContent p {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  color: #ececec;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0px;
}
.middleSectionButton {
  display: flex;
  padding-top: 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background: none;
}
.middleSectionButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
  background: none;
  border: none;
  color: #ececec;
  text-decoration: none;
  border-bottom: 1px solid rgba(236, 236, 236, 0.1);
  padding-bottom: 1px;
}
#s5 {
  display: flex;
  padding: 60px 20px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
#lowerContainer {
  display: flex;
  width: 1200px;
  padding: 60px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 75px;

  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow:
    0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset,
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.lowerContainerContent {
  display: flex;
  width: 768px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.lowerContainerContent h2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  color: #ececec;
  text-align: center;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.lowerContainerContent p {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  color: #ececec;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 847px;
}
.lowerContainerContent button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;

  color: #ececec;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  background: none;
}
#footer {
  display: flex;
  padding: 64px 20px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.footerContainer {
  display: flex;
  width: 1200px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.footer_3columns {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.footerFirstColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.footerFirstColumn p {
  color: #939393;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.16px;
  opacity: 80%;
}
.footerLinkWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.footerLinkWrapper h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}
.footerLinks p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  opacity: 80%;

  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.18px;
  opacity: 80%;
}
.footerLinkWrapperCareer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footerLinkWrapperCareer h2 {
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
.footerLinkWrapperCareer p {
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.18px;
  opacity: 80%;
}
.footerSecondColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.footerSeocndLinkWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.footerSecondLinkWrapper h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
.footerAddressWrapper {
  display: flex;
  width: 210px;
  align-items: flex-start;
}
.footerAddressWrapper p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  opacity: 80%;

  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.18px;
}
.footerSocials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.footerSocials p {
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.18px;
  margin: 0px;
  opacity: 80%;
}
.footerThirdColumn {
  display: flex;
  width: 180px;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: stretch;
}
.footerLogoWrapper {
  display: flex;
  width: 138px;
  height: 22px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
}
.footerLogo {
  display: flex;
  height: 22px;
  flex-shrink: 0;
  gap: 10px;

  color: #ececec;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.66px;
}
.footerLogo h2 {
  position: relative;
  top: -26px;
}
/* Animations when scrolling */
.hidden {
  opacity: 1;
  transform: scale(0);
  transition:
    opacity 1s,
    transform 1s;
}

.show {
  animation: zoom-fade-in 0.4s forwards;
}

@keyframes zoom-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1400px) {
  #lowerContainer,
  .lowerContainerContent,
  .lowerContainerContent p,
  .footerContainer,
  .video {
    width: unset;
  }

  .video {
    height: 20rem;
    padding: 2rem;
    border-radius: 7rem;
    overflow: hidden;
  }

  .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1000px) {
  .smallContainer,
  .navbarContainer,
  .paragraphWrapper,
  #content {
    width: 100%;
  }

  .navbarMenu {
    display: none;
  }

  .menuIcon {
    width: 2em;
    height: 2em;
  }

  .navbarContainer {
    padding: 2rem;
  }

  .navbarContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #heroStack {
    padding: 2rem 1rem 6rem 1rem;
  }

  .content h1 {
    font-size: 4rem;
  }

  #middleSection {
    display: none;
  }

  .middleSectionColumns {
    padding: 5rem 1rem;
    flex-direction: column;
    width: unset;
  }

  .middleSectionColumn {
    width: unset;
    height: unset;
  }

  .middleSectionCardContent {
    height: 100%;
    overflow: hidden;
  }

  #lowerContainer {
    margin: 2rem;
  }

  .footer_3columns {
    flex-direction: column;
  }
}
