.navbar {
  background-color: #0b0121;
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  align-items: center;
}

.navLogoWrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navLogoWrapper p {
  font-size: 1.7rem;
  font-weight: bolder;
  color: white;
  line-height: 0;
}

.navLogo {
  height: 1.5rem;
}

.menuBurgerButton {
  height: 1.5rem;
  width: 1.5rem;
}

.navItemsWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  padding-right: 2rem;
}

.navLink {
  text-decoration: none;
  color: #ececec;
  font-size: 1.2rem;
  white-space: nowrap;
}

.navLink:hover:not(.buttonFilled, .buttonHollow) {
  text-decoration: underline;
  transform: translateY(-3px);
}

.menuBurgerButton {
  display: none;
}

.buttonHollow {
  border: #ececec 0.2rem solid;
  border-radius: 2rem;
  padding: 0.7rem;
  background-color: #0b0121;
}

.buttonFilled {
  background-color: #ececec;
  color: #0b0121;
  border-radius: 2rem;
  padding: 0.8rem;
}

.buttonHollow:hover,
.buttonFilled:hover {
  filter: brightness(80%);
}

@media screen and (max-width: 1000px) {
  .menuBurgerButton {
    display: block;
  }

  .navItemsWrapper {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }
}
